nav {
  background-color: $grey;

  padding: 16px;

  width: 100vw;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 1;

  button {
    height: 50px;
    width: 50px;

    background: none;
    border: none;

    i {
      font-size: 1.5rem;
      color: white;
    }
  }
  button:hover {
    background-color: $black;
  }

  img {
    height: 40px;
  }

  p {
    font-size: 0.8rem;
  }
}

.header-space {
  padding-top: 55px;
}
