.sort-controller {
  // width: 1px;
  // background-color: red;
  position: relative;
  z-index: 0;

  > div {
    display: flex;
    justify-content: space-between;

    .sort-controller-active {
      font-weight: 800;
      text-transform: uppercase;
    }

    span {
      color: white;
      margin-right: 16px;
    }

    button {
      color: white;

      background: none;
      border: none;

      i {
        margin-left: 8px;
      }
    }
  }

  .pop-up-box {
    display: none;
    padding: 8px;

    background-color: $grey;
    position: absolute;

    right: 0;

    border-radius: 2px;

    display: flex;

    flex-direction: column;

    button {
      margin-right: 0px;

      padding: 8px 14px;
    }

    button:hover {
      background-color: $yellow;
      color: black;
    }
  }
}
