/* Provide sufficient contrast against white background */

:root {
  --pink: #ee3a81;
  --blue: #3d5cdb;
  --green: #2c9232;
  --yellow: #f5d304;
  --lightblack: #222222;
  --red: #c40500;
}

html {
  height: 100%;
  margin: 0;
}

body {
  background-color: black;
}

// nav bar

nav {
  background-color: var(--lightblack);
  width: 100vw;
  height: 55px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;
}

nav > div {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav > div > img {
  height: 30px;
}

nav > div button {
  background: none;
  border: none;
  // width: 100px;
  padding: 0;
  margin: 5px;
  border-radius: 2px;
}

// Landing page
.landing-page-background {
  height: 100vh;
  width: 100vw;
  background-color: white;
}
.landing-page {
  width: 100vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.landing-page img {
  width: 300px;
}

h3 {
  margin: 0;
}

.click-to-start {
  margin-top: 80px;
  padding-right: 15px;
  height: 30px;
  background-color: (--red);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// Log in and Sign up

.login-signup {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.login-signup form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-signup h3 {
  margin-bottom: 30px;
}

form input {
  height: 40px;
  background-color: (--yellow);
  border: none;
  border-radius: 0px;
  margin-bottom: 24px;
  padding: 10px;
}

input[type='text'] {
  height: 40px;
  background-color: var(--yellow);
  border: none;
  border-radius: 0px;
  padding: 10px;
  margin: 24px 0;
}

.yellow-button {
  background-color: var(--yellow);
  border: none;
  padding: 7px 15px;
}

.red-button {
  background-color: var(--red);
  border: none;
}

// Character select
.character-select {
  min-height: 100%;
  width: 100vw;
  margin-bottom: -120px;
}

.character-select header {
  padding-top: 55px;
  display: flex;
  justify-content: center;
  // align-items: center;
  // background-color: black;
}

.characters {
  background: rgb(105, 151, 219);
  background: linear-gradient(
    90deg,
    rgba(105, 151, 219, 1) 0%,
    rgba(73, 134, 226, 1) 11%,
    rgba(88, 195, 236, 1) 46%,
    rgba(232, 213, 104, 1) 91%,
    rgba(235, 211, 103, 1) 100%
  );
}

.character-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.characters {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: wrap;
  max-width: 384px;
}

.characters img {
  outline: 3px solid black;
  outline-offset: -3px;
}

@media screen and (min-width: 1200px) {
  .characters {
    display: inline-flex;
    align-items: flex-start;
    flex-flow: wrap;
    max-width: 1024px;
  }
}
