.FAQ {
  width: 100vw;
  max-width: 1000px;
  padding-top: 50px;
  margin-bottom: 124px;

  hr {
    border-bottom: 1px solid yellow;
    margin-bottom: 48px;
  }

  a {
    color: $yellow;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  section {
    padding: 48px;
    margin-top: 24px;
    background-color: $grey;
    border-radius: 4px;

    .question {
      margin-bottom: 24px;
    }
  }
}
