.bg-blue {
  background-color: $blue;
}

.bg-green {
  background-color: $green;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-pink {
  background-color: $pink;
}

.bg-red {
  background-color: $red;
}

.bg-grey {
  background-color: $grey;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: $black;
}
