.button {
  // max-width: 50px;
  border: 1px solid $yellow;
  border-radius: 2px;
  background-color: $yellow;
  padding: 7px 15px;
  color: black;

  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  @include transition;
  // transition: ease-in-out 0.1s;
}

.button:hover {
  background-color: $light-yellow;
  transform: scale(1.04);
}

.button-blank {
  text-transform: uppercase;
  font-weight: 800;
}

.button-blank {
  background: none;
  border: none;
  padding: 7px 15px;
}

.button-small {
  height: 20px;
  border: none;
  border-radius: 2px;
  padding: 2px 12px;
  display: flex;
  align-items: center;
}

input {
  height: 40px;
  border: none;
  border-radius: 0px;
  padding: 10px;
}

.tag {
  height: 20px;
  width: 70px;

  border-radius: 2px;

  padding: 5px 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.edit {
  margin-left: 8px;
  font-size: 0.8rem;
  color: $yellow;
  background: none;
  border: none;
}

.very-easy {
  padding: 3px 10px;

  border-radius: 2px;

  background-color: $blue;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  font-weight: 600;
  text-transform: uppercase;
  max-height: 40px;
  font-size: 0.8rem;
}
.easy {
  padding: 3px 10px;

  border-radius: 2px;

  background-color: $green;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  font-weight: 600;
  text-transform: uppercase;
  max-height: 40px;
  font-size: 0.8rem;
}
.medium {
  padding: 2px 8px;
  max-height: 40px;

  border-radius: 2px;

  background-color: $yellow;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.hard {
  padding: 3px 10px;

  border-radius: 2px;

  background-color: $pink;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  font-weight: 600;
  text-transform: uppercase;
  max-height: 40px;
  font-size: 0.8rem;
}

.very-hard {
  padding: 3px 10px;

  border-radius: 2px;

  background-color: $red;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  color: white;

  font-weight: 600;
  text-transform: uppercase;

  max-height: 40px;
  font-size: 0.8rem;
}

.true-combo {
  padding: 3px 10px;

  border-radius: 2px;

  background-color: $green;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.not-true-combo {
  padding: 3px 10px;

  border-radius: 2px;

  background-color: $red;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 3px $yellow;
  }
  50% {
    box-shadow: 0 0 10px $yellow;
  }
  100% {
    box-shadow: 0 0 3px $yellow;
  }
}
.active-button {
  animation: glowing 1300ms infinite;
}

button:focus {
  outline: none;
}
