.search-bar {
  background-color: $black;
  border-radius: 4px;
  padding-left: 16px;
  i {
    color: white;
    margin-right: 8px;
    opacity: 0.5;
  }
  input {
    background: none;
    // height: px;
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
  }
  input:focus {
    outline: none;
    color: white;
  }
  input::placeholder {
    color: white;
  }
  input:focus::-webkit-input-placeholder {
    color: white;
  }
}

input[type='text'],
input[type='password'] {
  background-color: $black;
  border-radius: 4px;
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
}
input[type='text']:focus,
input[type='password']:focus {
  outline: none;
}
input[type='text']:-webkit-autofill,
input[type='text']:-webkit-autofill:hover,
input[type='text']:-webkit-autofill:focus,
input[type='password']:-webkit-autofill,
input[type='password']:-webkit-autofill:hover,
input[type='password']:-webkit-autofill:focus {
  -webkit-text-fill-color: $yellow;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

input[type='number'] {
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 10px;
  background-color: $black;
}
input[type='number']:focus {
  outline: none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
