input[type='text'],
input[type='password'],
input[type='search'] {
  padding: 10px;

  border: none;
  border-radius: 0px;

  color: black;
  font-weight: 800;
  letter-spacing: 1px;
}

input[type='text']::placeholder,
input[type='password']::placeholder,
input[type='number']::placeholder,
input[type='search']::placeholder {
  color: black;
  opacity: 0.5;
  font-weight: 800;
  letter-spacing: 1px;
}
