h1,
h3 {
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 4px;

  text-transform: uppercase;
  color: white;
}

h3 {
  letter-spacing: 3px;
  font-size: 1.2rem;
}

h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 3px;

  color: white;
}

h5 {
  font-size: 0.8rem;
  color: white;
}

p {
  margin: 0;
  font-size: 1.1rem;
  color: white;
}

label {
  color: white;
  font-weight: 800;
}

.black-text {
  color: black;
}

.white-text {
  color: white;
}
