html {
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

nav {
  width: 100vw;
  height: 55px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;
}

h3 {
  margin: 0;
}

form input {
  height: 40px;
  border: none;
  border-radius: 0px;
  margin-bottom: 24px;
  padding: 10px;
}

input[type='text'] {
  height: 40px;
  border: none;
  border-radius: 0px;
  padding: 10px;
}

iframe {
  position: fixed;
  margin-top: 50px;
  height: calc(100vw * 0.56);
  width: 100vw;
}

.header-space {
  padding-top: 55px;
}

.button {
  border: none;
  border-radius: 2px;
  padding: 7px 15px;
}

.button-small {
  height: 20px;
  border: none;
  border-radius: 2px;
  padding: 2px 12px;
  display: flex;
  align-items: center;
}

/* navbar */

nav > div {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav > div img {
  height: 30px;
}

nav > div button {
  background: none;
  border: none;
  padding: 0;
  margin: 5px;
  border-radius: 2px;
}

/* Landing page */

.landing-page-background {
  height: 100vh;
  width: 100vw;
}

.landing-page {
  width: 100vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.landing-page img {
  width: 300px;
}

.click-to-start {
  margin-top: 80px;
  padding-right: 15px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Log in and Sign up */

.login-signup {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.login-signup form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-signup h3 {
  margin-bottom: 30px;
}

/* Character select */

.character-select {
  min-height: 100%;
  width: 100vw;
}

.character-select header {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.character-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.characters {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: wrap;
  max-width: 384px;
}

.characters img {
  outline: 3px solid;
  outline-offset: -3px;
}

/* character combos */

.character-header-large {
  width: 100vw;
  position: fixed;
  z-index: 1;
  height: 150px;
  background-position: 175% 20%;
  background-size: 75%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-left: 48px;
}

.character-header {
  width: 100vw;
  position: fixed;
  z-index: 1;
  height: 50px;
  background-position: 175% 20%;
  background-size: 75%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-left: 48px;
}

.search-bar {
  width: 100%;
  position: fixed;
  padding: 162px 10px 12px;
  display: flex;
  justify-content: space-between;
}

.search-bar > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar button {
  height: 30px;
  padding: 5px;
  margin: 5px;
  display: flex;
}

.search-bar input {
  width: 175px;
}

.character-combos section {
  padding-top: 214px;
}

.character-combos-combo {
  display: flex;
}

.vote-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-combos-combo-information {
  height: 100%;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.character-combos-combo-information header {
  display: flex;
  justify-content: space-between;
}

.character-combos-combo-information footer {
  display: flex;
  justify-content: flex-end;
}

.combo-inputs {
  margin: 8px 0;
  display: flex;
  flex-wrap: wrap;
}

.combo-input {
  width: 50px;
  height: 50px;
  margin: 3px;
  border: none;
  background-position: center;
  background-size: cover;
  cursor: default;
}

.difficulty-button {
  height: 25px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 2px;
}

.vote {
  padding: 0 20px;
}

.character-combo {
  .vote {
    svg {
      fill: white;
    }
    h3 {
      color: white;
    }
  }
  article {
    padding-top: 500px;
    header {
      display: flex;
      align-items: center;
      padding: 24px 0;

      .character-combo-detail {
        display: flex;
        align-items: center;
      }
    }
  }

  .combo-inputs {
    margin: 0;
    padding: 24px 24px;
    display: flex;
    flex-wrap: wrap;
  }

  .matchup {
    margin: 0;
    display: flex;
    align-items: center;

    h4 {
      min-width: 71px;
      padding: 10px;
      margin: 0;
      text-align: center;
    }
    div {
      width: 100%;
      min-height: 38px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 8px;
      img {
        height: 25px;
      }
    }
  }

  .notes {
    padding: 16px;

    h4 {
      margin-bottom: 16px;
    }
  }

  .comment {
    display: flex;
    padding: 24px 16px 24px 0;
    border-bottom: 1px solid black;

    h5 {
      margin-bottom: 16px;
    }
  }
}

@media screen and (min-width: 800px) {
  .characters {
    display: inline-flex;
    align-items: flex-start;
    flex-flow: wrap;
    max-width: 1024px;
  }
  .character-header-large {
    background-position: 100% 20%;
    background-size: initial;
    padding-left: 300px;
  }
  .character-header {
    height: 100px;
    background-position: 100% 20%;
    background-size: 50%;
    padding-left: 300px;
  }
  iframe {
    padding-top: 775px;
    margin-top: 100px;
    height: calc(100vw * 0.56);
    width: 100vw;
  }
  .search-bar input {
    width: 700px;
    margin-left: 80px;
  }
}
