.character-select {
  padding-top: 50px;
  margin: 0 auto;
  padding: 50px 24px;
  margin-bottom: 124px;

  width: 100vw;
  max-width: 1000px;

  background-color: $grey;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .search-bar {
    background-color: $grey;
  }

  .announcements {
    padding: 24px;
    border: 1px solid $yellow;
    border-radius: 4px;

    h3 {
      text-align: center;
      margin-bottom: 24px;
      letter-spacing: 4px;
    }
    ul {
      margin: 0;
      padding: 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;

      li {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 16px;

        h4 {
          text-align: center;
          margin-bottom: 16px;
        }

        p {
          text-align: center;
        }

        a:hover {
          text-decoration: underline;
        }

        .header-link {
          color: $yellow;
          text-transform: uppercase;
          font-weight: 800;
          letter-spacing: 2px;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }

  header {
    margin-bottom: 24px;
    padding: 16px;
    background-color: $black;
    width: 100vw;

    display: flex;
    justify-content: center;
  }

  h3 {
    margin: 24px;
    text-align: center;
  }
  .characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      margin: 8px;
      width: 100px;
      border: 3px solid white;
      border-radius: 100px;
      box-shadow: 2px 2px 15px 5px$black;
      @include transition;
    }

    img:hover {
      transform: scale(1.2);
      background-color: $yellow;
    }
  }
}
