.forbidden {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  h1 {
    margin-bottom: 24px;
  }

  h3 {
    margin-bottom: 16px;
  }

  a {
    color: $yellow;
  }
  a:hover {
    text-decoration: underline;
  }
}
