.rules-and-privacy {
  width: 100vw;
  max-width: 1000px;
  padding-top: 50px;
  margin-bottom: 124px;

  hr {
    border-bottom: 1px solid yellow;
  }

  h2,
  h3 {
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 24px;
  }

  a:hover {
    text-decoration: underline;
  }

  section {
    padding: 48px;
    margin-top: 24px;
    background-color: $grey;
    border-radius: 4px;
  }
}
