.user {
  margin-top: 50px;
  margin-bottom: 124px;
  padding: 24px;

  width: 100vw;
  max-width: 1000px;

  .unban {
    float: right;
    color: white;
  }

  > header {
    padding: 24px;
    margin-bottom: 8px;
    border-bottom: 1px solid $grey;
  }

  .user-details {
    padding: 24px;
    width: 100%;
    background-color: $grey;
    margin-bottom: 8px;

    border-radius: 4px;

    p,
    a {
      font-size: 0.7rem;
    }

    a {
      color: white;
      text-decoration: underline;
      @include transition;
    }

    a:hover {
      color: $yellow;
    }

    .points {
      color: $red;
    }

    header {
      display: flex;
      justify-content: space-between;

      div {
        display: flex;

        h3 {
          margin-right: 16px;
        }

        .button-wrapper {
          margin-right: 8px;

          button {
          }
        }

        .ban {
          color: white;
          background-color: $red;
        }
      }
      > button {
        background: none;
        border: none;
        svg {
          width: 10px;
          fill: white;
          transform: rotate(180deg);
          @include transition;
        }
      }
    }

    .drop-down {
      display: none;
      margin-top: 16px;
    }

    .infraction-actions {
      display: flex;
      .button-wrapper {
        margin-right: 8px;
      }
    }

    .infraction-form {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
      @include transition;

      .types,
      .ban-duration {
        display: flex;
        flex-wrap: wrap;
        .button-wrapper {
          margin: 8px 8px 0px 0px;
        }
      }

      textarea {
        margin: 16px 0;
        border: none;
        border-radius: 4px;
        background-color: black;
        color: white;
        padding: 8px;
      }

      > button {
        max-width: 100px;
        align-self: flex-end;
      }
    }

    .reports-header {
      padding: 8px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 16px;

      margin-bottom: 8px;
      border-bottom: 1px solid white;
    }

    .reports-row {
      padding: 8px;
      margin-bottom: 16px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 16px;

      border-bottom: 1px solid white;

      .report-dismiss {
        text-align: right;
        grid-column: span 4;
      }

      .report-dismiss {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
          background: none;
          border: none;
          color: $red;
          font-size: 0.7rem;
          @include transition;
        }
        button:hover {
          color: white;
        }
      }
    }
  }

  .combos {
    .combo {
      border-bottom: 1px solid $grey;
      display: flex;
      @include transition;

      .vote {
        padding-left: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        svg {
          fill: white;
          width: 25px;
        }
        svg:hover {
          fill: $yellow;
        }

        .down-vote {
          transform: rotate(180deg);
        }

        h3 {
          color: white;
          padding: 0;
          margin: 0;
        }
      }

      .detail {
        padding: 16px;
        width: 100%;
        // border: 1px solid red;
        header {
          margin-bottom: 16px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          div {
            display: flex;
            align-items: center;

            a {
              text-decoration: none;
            }
            a:hover {
              h3 {
                color: $yellow;
                @include transition;
              }
            }

            img {
              width: 40px;
              border-radius: 50%;
              margin-right: 8px;
              @include transition;
            }
            img:hover {
              transform: scale(1.2);
              background-color: $yellow;
            }
          }
        }

        .combo-inputs {
          margin-bottom: 16px;
        }

        footer {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          h5 {
            margin: 0;
          }
        }
      }
    }
    .combo:hover {
      background-color: $grey;
      transform: scale(1.005);

      .information {
        background-color: $grey;
      }
    }
  }
}
