.character-combos {
  padding-top: 50px;

  .character-header {
    position: fixed;
    z-index: 1;

    padding: 0px 0px 0px 30px;

    height: 150px;
    width: 100%;

    background-color: black;
    background-repeat: no-repeat;
    background-position-x: calc(80% + 20%);
    background-size: calc(30% * 2);

    display: flex;
    align-items: center;
  }

  .search-container {
    position: fixed;
    z-index: 1;
    padding: 8px 0;
    margin-top: 150px;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 90vw;
      margin-bottom: 8px;
    }
  }

  section {
    padding-top: 250px;
    .combo {
      display: flex;
      border-bottom: 1px solid $grey;

      .vote {
        padding: 16px 8px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .information {
        width: 100%;
        padding: 16px;
        background-color: black;

        display: flex;
        flex-direction: column;

        header {
          width: 100%;
          padding-left: 0px;

          display: flex;
          justify-content: space-between;
          h3 {
            margin-bottom: 8px;
          }
        }

        footer {
          text-align: right;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .character-combos {
    .character-header {
      padding-left: 300px;
      background-position-x: 80%;
      background-size: 30%;
    }

    .search-container {
      padding: 16px 24px;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      input {
        width: 400px;
        margin: 0 16px;
      }
    }

    section {
      padding-top: 220px;
      .information {
        header {
          flex-direction: row;
        }
      }
    }
  }
}
