.character-combos {
  padding-top: 50px;
  display: flex;
  justify-content: center;

  .character-header {
    position: fixed;
    z-index: 1;

    padding: 0px 0px 0px 30px;

    height: 150px;
    width: 100%;

    background-color: $black;
    background-repeat: no-repeat;
    background-position-x: calc(80% + 20%);
    background-size: 60%;

    display: flex;
    align-items: center;
  }

  .search-container {
    position: fixed;
    z-index: 1;
    padding: 8px 16px;
    margin-top: 150px;

    width: 100%;

    .search-container-items {
      max-width: 1000px;
      width: 100%;

      input {
        width: 100%;
        margin-right: 8px;
      }

      > div {
        margin-top: 8px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    // input {
    //   width: 100%;
    //   margin-bottom: 8px;
    // }

    // > div {
    //   width: 100%;
    //   display: flex;
    //   align-items: center;
    //   justify-content: space-between;

    //   button {
    //     margin: 8px;
    //   }
    // }
  }

  section {
    padding-top: 250px;
    max-width: 1000px;
    width: 100vw;
    .combo {
      display: flex;
      border-bottom: 1px solid $grey;

      .vote {
        padding: 0px 8px 0px 16px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // text-align: center;

        button {
          padding: 0;
        }

        svg {
          font-size: 1.2rem;
          fill: white;
          width: 25px;
          margin: 0;
        }

        .down-vote {
          transform: rotate(180deg);
        }
        h3 {
          margin: 8px 0;
          color: white;
          font-size: 0.9rem;
          text-align: center;
        }
      }

      .information {
        width: 100%;
        padding: 16px;
        background-color: $black;

        display: flex;
        flex-direction: column;

        header {
          width: 100%;
          padding-left: 0px;

          display: flex;
          justify-content: space-between;
          h3 {
            margin-bottom: 8px;
          }
        }

        footer {
          text-align: right;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .character-combos {
    .character-header {
      padding-left: 300px;
      background-position-x: 80%;
      background-size: initial;
    }

    .search-container {
      padding: 16px 24px;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      div {
        margin-top: 0px !important;
        display: flex;
        align-items: center;
      }

      input {
        width: 100%;
      }
    }

    section {
      padding-top: 220px;
      .information {
        header {
          flex-direction: row;
        }
      }
    }
  }
}
