.landing-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .logo-background {
    position: absolute;

    width: 400px;
    height: 400px;

    background-image: url('../../graphics/logo/smash-ball-black.png');
    background-position: center;
    background-size: 400px;
    background-repeat: no-repeat;

    opacity: 0.05;
  }

  .logo-container {
    position: absolute;
    .logo {
      margin-top: 40px;
      height: 120px;
      width: 300px;
      background-image: url('../../graphics/logo/smash-logo.png');
      background-position: center;
      background-size: cover;
    }
    h3 {
      text-align: center;
    }
  }

  button {
    margin-top: 300px;
  }
}
