.submit-combo {
  padding-top: 50px;
  width: 100%;
  max-width: 1000px;

  header {
    padding: 24px;
  }

  section {
    padding: 16px;
    fieldset {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    label {
      margin-top: 24px;
      text-align: center;

      width: 100%;
    }

    .select-character {
      .character {
        padding: 24px;

        background-repeat: no-repeat;
        background-position-x: 90%;
        background-size: 30%;
      }
    }

    .title {
      input {
        width: 100%;
      }
    }

    .video {
      > div {
        margin-top: 24px;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
      }
      input {
        width: 100%;
      }
    }

    // Duration

    .duration {
      display: flex;
      justify-content: center;

      fieldset {
        width: 120px;

        margin-right: 8px;

        display: flex;
        justify-content: center;
        flex-direction: column;

        label {
          padding: 0;
          text-align: center;
        }

        div {
          display: flex;
          align-items: center;
          border-radius: 4px;
          background-color: $black;

          input {
            // width: 100%;
          }

          span {
            margin: 0px 8px;
            color: white;
          }
        }
      }
    }

    // Difficulty

    .difficulty {
      > div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 8px;

        .button-wrapper {
          padding: 2px;
          border-radius: 4px;

          button {
            border: none;
            border-radius: 4px;
            width: 100%;
            height: 100%;
            max-width: none;
            color: white;
          }
        }
      }
    }

    // True combo

    .true-combo {
      width: 100%;
      background-color: $grey;

      > div {
        display: flex;
        justify-content: center;

        .button-wrapper {
          padding: 2px;
          border-radius: 4px;
          margin-right: 8px;
          button {
            border: none;
            border-radius: 4px;
            width: 100%;
            color: white;
          }
        }
      }
    }

    // Damage
    .damage {
      width: 100%;

      .container {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 8px;
        width: 120px;

        border-radius: 4px;
        background-color: black;

        input {
          width: 80px;
          height: 100%;
          font-size: 2rem;
          border: none;
        }

        span {
          color: white;
          font-weight: 800;
        }
      }
    }

    // Combo Input

    .combo-input {
      .combo-input-container {
        border-radius: 4px 4px 0 0;
        padding: 16px 24px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .combo-inputs {
          display: flex;
          // justify-content: center;
        }
      }

      .input-categories {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        button {
          margin: 2px;
          padding: 8px 4px;
          background: none;
          border: none;

          color: white;
          font-weight: 800;
          font-size: 0.8rem;
          text-transform: uppercase;
          @include transition;
        }

        .active-category {
          background-color: $yellow;
          border-radius: 4px;
          color: black;
          transform: scale(1.1);
        }
      }

      .input-controller {
        padding: 24px 0;
        border-radius: 0 0 4px 4px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .controller-buttons {
          margin-top: 48px;

          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 20px;
          grid-template-rows: 1fr 1fr 1fr;

          .combo-input {
            width: 100px;
            height: 100px;

            border: none;
            border-radius: 4px;

            background-color: $black;
            background-position: center;
            background-size: cover;
            @include transition;
          }

          .combo-input:hover {
            background-color: $grey;
          }
        }

        .legend {
          display: flex;
        }

        .conditional {
          display: flex;
          flex-direction: column;
          align-items: center;

          .controller-buttons {
            grid-template-rows: 1fr 1fr;
            margin-bottom: 24px;
          }

          .legend {
            ul {
              padding: 0;
              margin: 24px;

              li {
                margin: 0;
                margin-bottom: 8px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                div {
                  margin-right: 16px;
                  width: 40px;
                  height: 40px;
                  background-position: center;
                  background-size: cover;
                  // background-color: red;
                }

                h5 {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }

    .notes {
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        textarea {
          width: 100%;
          height: 200px;
          margin-bottom: 24px;

          color: white;

          background-color: $black;
          border: none;
          border-radius: 5px;

          padding: 16px;
        }
        textarea:focus {
          outline: none;
        }

        button {
          margin: 24px;
          width: 100%;
        }
      }
      .submit-buttons {
        width: 100%;
        // border: 1px solid red;
        flex-direction: row;
        justify-content: space-between;
      }

      .confirm-delete {
        padding: 16px;
        width: 100%;
        border-radius: 5px;

        > i {
          align-self: flex-end;
          color: white;
          @include transition;
        }
        > i:hover {
          color: $yellow;
        }

        label {
          margin-top: 0;
        }

        span {
          color: $red;
        }

        input {
          width: 300px;
          background-color: $grey;
        }

        button {
          width: 300px;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .submit-combo {
    section {
      .select-character {
        .character {
          // background-position-x: 100%;

          select {
            padding-left: 100px;
            color: white;
            background-color: $black;

            border: none;

            font-size: 1.7rem;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 3px;
            @include transition;
          }

          select:hover {
            background-color: $yellow;
            color: black;
          }

          select:focus {
            background-color: $yellow;
            color: black;
          }
        }
      }
    }
  }
}
