.tutorial {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100vw;
  max-width: 1000px;
  min-height: 100vh;
  height: 100%;

  text-align: center;

  h1 {
    margin-bottom: 24px;
  }

  h3 {
    margin-bottom: 24px;
    color: $yellow;
  }

  h4 {
    margin: 24px 0px 16px;
  }

  strong {
    color: $yellow;
  }

  p {
    margin-bottom: 8px;
  }

  hr {
    color: white;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 36px;
    padding: 24px;

    border-top: 1px solid $yellow;

    .header-container {
      .header {
        display: flex;
        align-items: center;

        .input-header {
          height: 100px;
          width: 100px;

          margin-right: 24px;

          background-position: center;
          background-size: cover;
        }

        .description {
          text-align: left;
        }
      }
    }

    .input-example-container {
      margin-bottom: 16px;
      padding: 16px 24px;
      background-color: $grey;

      border-radius: 4px;

      h4 {
        margin: 0;
        margin-bottom: 16px;
      }

      .inputs {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .input-example {
          height: 50px;
          width: 50px;

          background-position: center;
          background-size: cover;
        }
      }
    }
  }
}
