nav {
  position: relative;
  background-color: $grey;

  padding: 16px;

  width: 100vw;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 1;

  button {
    height: 50px;
    width: 50px;

    background: none;
    border: none;

    i {
      font-size: 1.5rem;
      color: white;
    }
  }
  button:hover {
    background-color: $black;
  }

  .logo {
    position: absolute;
    left: 50%;
    margin-left: -40px;

    img {
      height: 40px;
    }
  }

  .nav-user {
    h5 {
      text-align: right;
      margin: 0;
      font-weight: 400;
    }

    a {
      text-align: right;
      font-size: 0.8rem;
      font-weight: 600;
      text-decoration: none;
    }
    a:hover {
    }
  }
}

.header-space {
  padding-top: 55px;
}
